.rightbar{
    flex: 3.5;
}

/* spacing for top and right */
.rightbarWrapper{
    padding: 20px 20px 0 0;

}

/* spacing for the love/event text and photo */
.lovingContainer{
    display: flex;
    align-items: center;
}

.lovingImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.lovingText{
    font-weight: 300px;
    font-size: 15px;
}

/* styling the ad */
.rightbarAd{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

